/*..................................Carousel Animation........................*/
@-webkit-keyframes carousel_opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes carousel_opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes carousel_radio1_p{
    0%{
        -webkit-transform: translate(-1000px, -400px);
                transform: translate(-1000px, -400px);
        opacity: 0;
    }
    100%{
        -webkit-transform: translate(0px);
                transform: translate(0px);
        opacity: 1;
    }
}
@keyframes carousel_radio1_p{
    0%{
        -webkit-transform: translate(-1000px, -400px);
                transform: translate(-1000px, -400px);
        opacity: 0;
    }
    100%{
        -webkit-transform: translate(0px);
                transform: translate(0px);
        opacity: 1;
    }
}
@-webkit-keyframes carousel_radio1_inner_big{
    0%{
        -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
    }
    100%{
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}
@keyframes carousel_radio1_inner_big{
    0%{
        -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
    }
    100%{
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}
@-webkit-keyframes carousel_radio2_p{
    0%{
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
        opacity: 0;
    }
    100%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes carousel_radio2_p{
    0%{
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
        opacity: 0;
    }
    100%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }
}
@-webkit-keyframes carousel_radio2_inner_big{
    0%{
        -webkit-transform: translateY(80px);
                transform: translateY(80px);
        opacity: 0;
    }
    100%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes carousel_radio2_inner_big{
    0%{
        -webkit-transform: translateY(80px);
                transform: translateY(80px);
        opacity: 0;
    }
    100%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }
}
@-webkit-keyframes carousel_radio3_p{
    0%{
        -webkit-transform: translateX(2000px);
                transform: translateX(2000px);
        opacity: 0;
    }
    100%{
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes carousel_radio3_p{
    0%{
        -webkit-transform: translateX(2000px);
                transform: translateX(2000px);
        opacity: 0;
    }
    100%{
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
        opacity: 1;
    }
}
@-webkit-keyframes carousel_radio3_inner_big{
    0%{
        -webkit-transform: translate(20px,50px);
                transform: translate(20px,50px);
        opacity: 0;
    }
    100%{
        -webkit-transform: translate(0px);
                transform: translate(0px);
        opacity: 1;
    }
}
@keyframes carousel_radio3_inner_big{
    0%{
        -webkit-transform: translate(20px,50px);
                transform: translate(20px,50px);
        opacity: 0;
    }
    100%{
        -webkit-transform: translate(0px);
                transform: translate(0px);
        opacity: 1;
    }
}
@-webkit-keyframes carousel_inner_link{
    from{
        -webkit-transform: translateY(60px);
                transform: translateY(60px);
        opacity: 0;
    }
    to{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes carousel_inner_link{
    from{
        -webkit-transform: translateY(60px);
                transform: translateY(60px);
        opacity: 0;
    }
    to{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }
}
/*............................Section Power Build Animation.................*/
@-webkit-keyframes build_txt{
    0%{
        opacity: 0;
        -webkit-transform: translateY(15px);
                transform: translateY(15px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@keyframes build_txt{
    0%{
        opacity: 0;
        -webkit-transform: translateY(15px);
                transform: translateY(15px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}